/*****************************************/
/* Customizer button control style
/*****************************************/
.blogsy-button-wrapper {
	-js-display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	margin-bottom: 4px;
}

.blogsy-button-wrapper .blogsy-control-heading {
	margin-right: auto;
}

.blogsy-button-wrapper .button {
	padding-left: 10px;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
}

.blogsy-button-wrapper .customize-control-title {
	margin-bottom: 0;
}
