/*****************************************/
/* Customizer control typography style
/*****************************************/
/**
 * Import configuration file with variables.
 */
.blogsy-typography-wrapper .blogsy-control-wrap {
	width: 100%;
}

.blogsy-typography-wrapper .blogsy-range-wrapper {
	position: relative;
}

.blogsy-typography-wrapper .blogsy-range-wrapper label {
	-js-display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	margin-bottom: 6px;
}

.blogsy-typography-wrapper .blogsy-range-wrapper .blogsy-control-unit {
	position: absolute;
	top: 4px;
	right: 0;
	z-index: 1;
}

.blogsy-typography-wrapper .blogsy-typography-heading {
	-webkit-box-flex: 1;
		-ms-flex-positive: 1;
			flex-grow: 1;
}

.blogsy-typography-wrapper .blogsy-typography-advanced {
	background-color: #fff;
	padding: 15px 22px;
	position: absolute;
	width: 100%;
	top: 100%;
	left: 0;
	margin-top: 15px;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	z-index: 1;
}

.blogsy-typography-wrapper .advanced-settings {
	-js-display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	margin-left: auto;
	text-decoration: none;
	color: #555d66;
}

.blogsy-typography-wrapper .advanced-settings.active, .blogsy-typography-wrapper .advanced-settings:focus, .blogsy-typography-wrapper .advanced-settings:hover {
	background-color: #0284ba;
	color: #fff;
}

.blogsy-typography-wrapper .advanced-settings.hidden {
	display: none;
}

.blogsy-typography-wrapper .blogsy-typography-font-family,
.blogsy-typography-wrapper .blogsy-typography-font-subsets,
.blogsy-typography-wrapper .blogsy-typography-font-weight,
.blogsy-typography-wrapper .blogsy-typography-font-style,
.blogsy-typography-wrapper .blogsy-typography-text-transform,
.blogsy-typography-wrapper .blogsy-typography-text-decoration {
	-js-display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	margin-top: 6px;
	margin-bottom: 6px;
}

.blogsy-typography-wrapper .blogsy-typography-font-family .select2-container,
.blogsy-typography-wrapper .blogsy-typography-font-family select,
.blogsy-typography-wrapper .blogsy-typography-font-subsets .select2-container,
.blogsy-typography-wrapper .blogsy-typography-font-subsets select,
.blogsy-typography-wrapper .blogsy-typography-font-weight .select2-container,
.blogsy-typography-wrapper .blogsy-typography-font-weight select,
.blogsy-typography-wrapper .blogsy-typography-font-style .select2-container,
.blogsy-typography-wrapper .blogsy-typography-font-style select,
.blogsy-typography-wrapper .blogsy-typography-text-transform .select2-container,
.blogsy-typography-wrapper .blogsy-typography-text-transform select,
.blogsy-typography-wrapper .blogsy-typography-text-decoration .select2-container,
.blogsy-typography-wrapper .blogsy-typography-text-decoration select {
	width: 150px !important;
	margin-left: auto !important;
}

.blogsy-typography-wrapper .blogsy-typography-font-weight,
.blogsy-typography-wrapper .blogsy-typography-font-style,
.blogsy-typography-wrapper .blogsy-typography-text-transform,
.blogsy-typography-wrapper .blogsy-typography-text-decoration {
	margin-top: 0;
	margin-bottom: 0;
}

.blogsy-typography-wrapper .blogsy-typography-font-weight,
.blogsy-typography-wrapper .blogsy-typography-letter-spacing,
.blogsy-typography-wrapper .blogsy-typography-line-height {
	margin-top: 12px;
}

.blogsy-typography-wrapper .blogsy-typography-line-height,
.blogsy-typography-wrapper .blogsy-typography-text-decoration {
	margin-bottom: 24px;
}

.blogsy-typography-wrapper .blogsy-typography-font-family {
	margin-bottom: 12px;
}

.blogsy-typography-wrapper .blogsy-responsive-switchers {
	margin-left: 6px;
}

.blogsy-typography-wrapper .advanced-settings {
	background-color: #FFF;
	border-radius: 2px;
	-js-display: inline-flex;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	margin-left: 0;
	font-size: 12px;
	width: 40px;
	height: 40px;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	border: 1px solid #e0e0e0;
	-webkit-transition: all .15s ease;
	transition: all .15s ease;
}

.blogsy-typography-wrapper .advanced-settings .dashicons {
	-webkit-transition: none;
	transition: none;
}

.blogsy-typography-wrapper .reset-defaults {
	display: none;
}

.blogsy-typography-wrapper .reset-defaults.active {
	display: block;
}
