.blogsy-control-wrapper.blogsy-image-wrapper {
	margin-bottom: 15px;
}

.blogsy-image-preview img {
	max-width: 100%;
	height: auto;
}

.blogsy-image-actions {
	margin-top: 10px;
}

.blogsy-image-actions .button {
	margin-right: 5px;
}
