/*****************************************/
/* Customizer background control style
/*****************************************/
.blogsy-background-wrapper .actions {
	-js-display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	margin-top: 12px;
}

.blogsy-background-wrapper .actions .button {
	margin-top: 0;
}

.blogsy-background-wrapper .actions .advanced-settings {
	-js-display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	margin-left: auto;
	text-decoration: none;
	color: #555d66;
}

.blogsy-background-wrapper .actions .advanced-settings.up span.dashicons {
	-webkit-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
			transform: rotate(180deg);
}

.blogsy-background-wrapper .actions .advanced-settings:hover {
	color: #2271b1;
}

.blogsy-background-wrapper .actions .advanced-settings.hidden {
	display: none;
}

.blogsy-background-wrapper .actions .background-image-upload-remove-button {
	margin-right: 6px;
}

.blogsy-background-wrapper .background-image {
	margin-top: 12px;
	margin-bottom: 24px;
}

.blogsy-background-wrapper .background-repeat {
	margin-bottom: 6px;
}

.blogsy-background-wrapper .more-settings.up {
	color: #2271b1;
}

.blogsy-background-wrapper h4 {
	margin-bottom: 12px;
}
