/*****************************************/
/* Customizer control design options style
/*****************************************/

.blogsy-design-options-wrapper {
	.background-color-overlay {
		.wp-color-result.button {
			top: 1.33em !important;
		}
	}

	.blogsy-design-options-heading {
		flex-grow: 1;
	}

	.blogsy-range-suffix {
		margin-left: 6px;
	}

	.reset-defaults {
		display: none;

		&.active {
			display: block;
		}
	}
}
