/*****************************************/
/* Customizer control design options style
/*****************************************/
.blogsy-design-options-wrapper .background-color-overlay .wp-color-result.button {
	top: 1.33em !important;
}

.blogsy-design-options-wrapper .blogsy-design-options-heading {
	-webkit-box-flex: 1;
		-ms-flex-positive: 1;
			flex-grow: 1;
}

.blogsy-design-options-wrapper .blogsy-range-suffix {
	margin-left: 6px;
}

.blogsy-design-options-wrapper .reset-defaults {
	display: none;
}

.blogsy-design-options-wrapper .reset-defaults.active {
	display: block;
}
