/*****************************************/
/* Customizer control info style.
/*****************************************/
.customize-control-blogsy-info {
	margin-top: auto;
	margin-bottom: 0 !important;
}

.blogsy-info-wrapper {
	position: relative;
	background-color: #FFF;
	border-top: 1px solid #ddd;
	margin-left: -12px;
	margin-right: -12px;
	padding: 16px 12px;
	margin-bottom: -12px;
	margin-top: 30px;
}

.blogsy-info-wrapper .button-primary {
	margin-top: 10px;
	height: 26px;
	line-height: 24px;
}
